/* Estilos para el header */

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f2f2;
}

/* Estilos para el header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav-menu li {
  margin: 0 20px;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.nav-menu a:hover {
  text-decoration: underline;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }
  
  .logo img {
    margin-bottom: 20px;
  }
  
  .nav-menu ul {
    flex-direction: column;
  }
  
  .nav-menu li {
    margin: 10px 0;
  }
}


/* Estilos para pantallas pequeñas */

@media screen and (max-width: 991px) {

  .nav-menu {
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-menu li {
    margin: 20px 0;
  }

  .show-menu {
    left: 0;
  }

  .toggle-menu {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .toggle-menu span {
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
  }

  .toggle-menu span:nth-child(1) {
    transform: rotate(45deg);
  }

  .toggle-menu span:nth-child(2) {
    opacity: 0;
  }

  .toggle-menu span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .show-menu .toggle-menu span:nth-child(1) {
    transform: rotate(0);
  }

  .show-menu .toggle-menu span:nth-child(2) {
    opacity: 1;
  }

  .show-menu .toggle-menu span:nth-child(3) {
    transform: rotate(0);
  }

}



/* Estilos para el main */

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para la sección Acerca de nosotros */

#About_us {
  background-color: #f8f8f8;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.first-letter-large::first-letter {
  font-size: 1.5em;
  font-weight: bold;
}

#About_us p {
  font-size: 18px;
  line-height: 1.5;
}

/* Estilos para la sección Servicios */

#services {
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#services h2 {
  font-size: 32px;
  margin-bottom: 50px;
}

#services ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#services li {
  flex-basis: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#services li:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

#services img {
  max-width: 100%;
  margin-bottom: 20px;
}

#services h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

#services p {
  font-size: 16px;
}

/* Estilos para la sección Proyectos */

#Projects {
  background-color: #ffffff;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#Projects h1 {
  font-size: 32px;
  margin-bottom: 50px;
}

/* Estilos para la sección Blog */

#blog {
  background-color: #f8f8f8;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#blog h3 {
  font-size: 32px;
  margin-bottom: 50px;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  main {
    padding: 30px;
  }
  
  #services li {
    flex-basis: 100%;
  }
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2022;
  color: #fff;
  font-size: 14px;
  padding: 20px;
}

.contact, .social {
  flex: 1;
  margin: 0 30px;
}

.contact h3, .social h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact a {
  color: #fff;
}

.social ul {
  display: flex;
  justify-content: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social li {
  margin-right: 10px;
}

.social a {
  color: #fff;
  font-size: 24px;
}

.social a:hover {
  color: #4fc3f7;
}

@media (max-width: 768px) {
  footer {
    flex-wrap: wrap;
  }
  
  .contact, .social {
    margin: 20px 0;
  }
  
  .contact {
    text-align: center;
  }
  
  .social {
    text-align: center;
  }
  
  .social ul {
    justify-content: center;
  }
}
   


.hidden-text {
  opacity: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
}

.show-text {
  opacity: 1;
  height: auto;
}


.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.arrow-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 17.3px 10px;
  border-color: transparent transparent white transparent;
}
